@media (max-width: 1440px) {
    .logo {
        width: 80px;
        height: 28px;
        
        left: 0em;
        top: 1.5em;
    }

    .entrada {
        width: 19em;
        height: 18em;
    
        left: 3em;
        top: 3em;

        font-size: 1.75em;
    }

    .advertencia {
        width: 15em;
        height: 1.125em;
    
        left: 5em;
        top: 38em;
    }

    .botones {
        width: 43em;
        height: 4.2em;
    
        left: 5em;
        top: 40em;
    }

    button {
        width: 11.5em;
        height: 4.5em;
        
        font-size: 0.9em;
    }

    #btnCopiar {
        top: 37.3em;
        left: 1.3em;
    
        width: 20.5em;
        height: 4.2em;
    }

    .esperando {
        width: 23em;
        height: 43em;
    
        left: 42em;
        top: 2.5em;
    }

    .personaje {
        width: 300px;
        height: 300px;
    
        top: 8em;
        left: 2em;

        display: flex;
    }

    .notas {    
        top: 30em;
        left: 2em;
    }

    .encriptado {
        width: 23em;
        height: 43em;
    
        left: 42em;
        top: 2.5em;
    }

    #resultado {
        width: 13.2em;
        height: 23em;
    
        left: 1em;
        top: 1em;
    }

    footer {
        top: 45em;
        left: -1em;
    }
}

@media (max-width: 768px) {
    .entrada {
        width: 22em;
        height: 15em;
    
        left: 3em;
        top: 3em;

        font-size: 1.75em;
    }

    .advertencia {
        width: 15em;
        height: 1.125em;
    
        left: 17em;
        top: 33em;
    }

    .botones {
        width: 43em;
        height: 4.2em;
    
        left: 7em;
        top: 35em;
    }

    #btnCopiar {    
        width: 37em;
        height: 3em;

        top: 16em;
        left: 1.5em;
    }

    .esperando {
        width: 40em;
        height: 20em;
    
        left: 4em;
        top: 40em;
    }

    .personaje {
        display: none;
    }

    .notas {    
        width: 25em;
        height: 8em;

        top: 7.5em;
        left: 9em;
    }

    .encriptado {
        width: 40em;
        height: 20em;
    
        left: 4em;
        top: 40em;
    }

    #resultado {
        width: 24.5em;
        height: 9em;
    
        left: 1em;
        top: 1em;
    }

    footer {
        top: 61.5em;
        left: 2em;
    }
}

@media (max-width: 375px) {
    .entrada {
        width: 17.5em;
        height: 12.5em;
    
        left: 1em;
        top: 3.5em;

        font-size: 1.2em;
    }

    .advertencia {
        width: 15em;
        height: 1.125em;
    
        left: 5em;
        top: 20em;
    }

    .botones {
        width: 43em;
        height: 4.2em;
    
        left: 1em;
        top: 22em;
        
        
        gap: 0.5em;
        flex-direction: column;
    }

    button {
        width: 23.5em;
        height: 3em;
        
        font-size: 0.9em;
    }

    #btnCopiar {   
        width: 22em;
        height: 3em;

        top: 21.5em;
        left: 1em;

        font-size: 0.9em;
    }

    .esperando {
        width: 21.5em;
        height: 23em;
    
        left: 1em;
        top: 32em;
    }

    .personaje {
        display: none;
    }

    .notas {    
        width: 20em;
        height: 8em;

        top: 8em;
        left: 1em;
    }

    .encriptado {
        width: 21.5em;
        height: 23em;
    
        left: 1em;
        top: 32em;
    }

    #resultado {
        width: 15.5em;
        height: 14em;
    
        left: 1em;
        top: 1em;

        font-size: 1.2em;
    }

    footer {
        width: 18%;

        top: 69.2em;
        left: 5em;
        
        font-size: 0.8em;
    }
}
