body {
    background: #F3F5FC;
    font-family:  'Inter', sans-serif;
    position: relative;

    width: 90em;
    height: 64rem;
    margin: auto;
}

/* ------------------------------ Logo ------------------------------ */

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0em;
    gap: 2.5em;

    position: absolute;
    width: 120px;
    height: 48px;
    
    left: 2.5em;
    top: 2.5em;
}

/* ------------------------------ Entrada de texto ------------------------------ */

.entrada {
    position: absolute;
    width: 25em;
    height: 21em;

    left: 5em;
    top: 5em;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 150%;

    color: #0A3871;
    background: #F3F5FC;
    border: none;

    resize: none;
}

textarea:focus {
    outline: none;
}  

/* ------------------------------ Advertencia ------------------------------ */

.advertencia {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0em;
    gap: 0.5em;

    position: absolute;
    width: 15em;
    height: 1.125em;

    left: 15em;
    top: 53em;
}

.advertencia img {
    width: 1em;
    height: 1em;
}

.nota {
    width: 18em;
    height: 1.5em;

    font-weight: 400;
    font-size: 0.75em;
    line-height: 150%;

    color: #495057;

    opacity: 0.8;
}

/* ------------------------------ Botones ------------------------------ */

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0em;
    gap: 1.5em;

    position: absolute;
    width: 42.5em;
    height: 4.2em;

    left: 15em;
    top: 55em;
}

button {
    padding: 0.5em;
    gap: 0.5em;

    width: 12.5em;
    height: 4.2em;

    border-radius: 24px;

    flex: none;

    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;

    text-align: center;
}

#encriptar {
    background: #0A3871;
    color: #FFFFFF;
}

#encriptar:hover {
    background: #D8DFE8;
    color: #0A3871;
}

#desencriptar {
    background: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
}

#desencriptar:hover {
    background: #0A3871;
    color: #FFFFFF;
}

#btnPegar {
    background: #F3F5FC;
    color: #0A3871;
    border: 1px solid #0A3871;
}

#btnPegar:hover {
    background: #0A3871;
    color: #F3F5FC;
}

#btnCopiar {
    position: absolute;
    top: 53em;
    left: 2.5em;

    width: 20.5em;
    height: 4.2em;

    background: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;

    font-weight: 400;
    font-size: 1em;
    line-height: 19px;
}

#btnCopiar:hover {
    background: #0A3871;
    color: #FFFFFF;
}

/* ------------------------------ Rectangulo espera ------------------------------ */

.esperando {
    position: absolute;
    width: 25em;
    height: 59em;

    left: 62.5em;
    top: 2.5em;
    
    background: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

    text-align: center;
}

.personaje {
    position: absolute;
    width: 336px;
    height: 304px;

    top: 18em;
    left: 2em;
}

.notas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;

    position: absolute;
    width: 19em;
    height: 8em;

    top: 39em;
    left: 3em;
}

#nada {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 120%;
}

#como {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}

/* ------------------------------ Rectangulo encriptado ------------------------------ */

.encriptado {
    position: absolute;
    width: 25em;
    height: 59em;

    left: 62.5em;
    top: 2.5em;
    
    background: #FFFFFF;

    border-radius: 32px;

    text-align: center;

    display: none;
}

#resultado {
    position: absolute;
    width: 14em;
    height: 33em;

    left: 1.5em;
    top: 1em;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 150%;
    text-align: center;

    color: #495057;

    border: none;
    resize: none;
}

/* ------------------------------ Pie de página ------------------------------ */

footer {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: max-content;

    color: #0A3871;
    font-weight: 700;
    font-size: 1em;
    line-height: 120%;
    font-style: italic;

    padding: 5px;
    text-align: center;
} 

/* ------------------------------ Responsive ------------------------------ */

@media (max-width: 1440px) {
    .logo {
        width: 80px;
        height: 28px;
        
        left: 0em;
        top: 1.5em;
    }

    .entrada {
        width: 19em;
        height: 18em;
    
        left: 3em;
        top: 3em;

        font-size: 1.75em;
    }

    .advertencia {
        width: 15em;
        height: 1.125em;
    
        left: 5em;
        top: 38em;
    }

    .botones {
        width: 43em;
        height: 4.2em;
    
        left: 5em;
        top: 40em;
    }

    button {
        width: 11.5em;
        height: 4.5em;
        
        font-size: 0.9em;
    }

    #btnCopiar {
        top: 37.3em;
        left: 1.3em;
    
        width: 20.5em;
        height: 4.2em;
    }

    .esperando {
        width: 23em;
        height: 43em;
    
        left: 42em;
        top: 2.5em;
    }

    .personaje {
        width: 300px;
        height: 300px;
    
        top: 8em;
        left: 2em;

        display: flex;
    }

    .notas {    
        top: 30em;
        left: 2em;
    }

    .encriptado {
        width: 23em;
        height: 43em;
    
        left: 42em;
        top: 2.5em;
    }

    #resultado {
        width: 13.2em;
        height: 23em;
    
        left: 1em;
        top: 1em;
    }

    footer {
        top: 45em;
        left: -1em;
    }
}

@media (max-width: 1200px) {
    .entrada {
        width: 22em;
        height: 15em;
    
        left: 3em;
        top: 3em;

        font-size: 1.75em;
    }

    .advertencia {
        width: 15em;
        height: 1.125em;
    
        left: 17em;
        top: 33em;
    }

    .botones {
        width: 43em;
        height: 4.2em;
    
        left: 7em;
        top: 35em;
    }

    #btnCopiar {    
        width: 37em;
        height: 3em;

        top: 16em;
        left: 1.5em;
    }

    .esperando {
        width: 40em;
        height: 20em;
    
        left: 4em;
        top: 40em;
    }

    .personaje {
        display: none;
    }

    .notas {    
        width: 25em;
        height: 8em;

        top: 7.5em;
        left: 9em;
    }

    .encriptado {
        width: 40em;
        height: 20em;
    
        left: 4em;
        top: 40em;
    }

    #resultado {
        width: 24.5em;
        height: 9em;
    
        left: 1em;
        top: 1em;
    }

    footer {
        top: 61.5em;
        left: 2em;
    }
}

@media (max-width: 900px) {
    .entrada {
        width: 17.5em;
        height: 12.5em;
    
        left: 1em;
        top: 3.5em;

        font-size: 1.2em;
    }

    .advertencia {
        width: 15em;
        height: 1.125em;
    
        left: 5em;
        top: 20em;
    }

    .botones {
        width: 43em;
        height: 4.2em;
    
        left: 1em;
        top: 22em;
        
        
        gap: 0.5em;
        flex-direction: column;
    }

    button {
        width: 23.5em;
        height: 3em;
        
        font-size: 0.9em;
    }

    #btnCopiar {   
        width: 22em;
        height: 3em;

        top: 21.5em;
        left: 1em;

        font-size: 0.9em;
    }

    .esperando {
        width: 21.5em;
        height: 23em;
    
        left: 1em;
        top: 32em;
    }

    .personaje {
        display: none;
    }

    .notas {    
        width: 20em;
        height: 8em;

        top: 8em;
        left: 1em;
    }

    .encriptado {
        width: 21.5em;
        height: 23em;
    
        left: 1em;
        top: 32em;
    }

    #resultado {
        width: 15.5em;
        height: 14em;
    
        left: 1em;
        top: 1em;

        font-size: 1.2em;
    }

    footer {
        width: 18%;

        top: 69.2em;
        left: 5em;
        
        font-size: 0.8em;
    }
}
