body {
    background-color: #F3F5FC; 
    font-family:  'Inter', sans-serif;
}

.logoContainer {
    padding: 24px 16px;
    margin-bottom: 56px;
}

.main {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
}

/* Textarea */

.entrada {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 150%;

    color: #0A3871;
    background: #F3F5FC;
    border: none;

    resize: none;

    width: 100%;
    min-height: 245px;
    
    margin-bottom: 16px;
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    color: #0A3871;
}

/* Advertencia */

.advertencia {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0em;
    gap: 0.5em;
    margin-bottom: 16px;
}

.advertencia img {
    width: 1em;
    height: 1em;
}

.nota {
    font-weight: 400;
    font-size: 0.75em;
    line-height: 150%;

    color: #495057;

    opacity: 0.8;
}

/* Botones */

.botones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0em;
    gap: 1em;

    margin-bottom: 64px;
}

button {
    padding: 0.5em;
    gap: 0.5em;
    width: 100%;
    height: 67px;

    border-radius: 24px;

    flex: none;

    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;

    text-align: center;
}

#encriptar {
    background: #0A3871;
    color: #FFFFFF;
}

#encriptar:hover {
    background: #D8DFE8;
    color: #0A3871;
}

#desencriptar {
    background: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
}

#desencriptar:hover {
    background: #0A3871;
    color: #FFFFFF;
}

#btnPegar {
    background: #F3F5FC;
    color: #0A3871;
    border: 1px solid #0A3871;
}

#btnPegar:hover {
    background: #0A3871;
    color: #F3F5FC;
}

#btnCopiar {
    background: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;

    font-weight: 400;
    font-size: 1em;
    line-height: 19px;
}

#btnCopiar:hover {
    background: #0A3871;
    color: #FFFFFF;
}

/* Esperando */

.esperando {    
    background: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

    text-align: center;

    padding: 32px;
    margin: 0 8px;
}

.personaje {
    display: none;
}

.notas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

#nada {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 120%;
}

#como {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}

/* Resultado */

.encriptado {    
    background: #FFFFFF;

    border-radius: 32px;

    text-align: center;

    flex-direction: column;
}

#resultado {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 150%;
    text-align: center;

    color: #495057;

    border: none;
    resize: none;

    height: 200px;
    
    margin-bottom: 14px;
}

/* Footer */ 

footer {
    bottom: 0;

    padding: 5px;
    text-align: center;

    padding: 16px;
}

.creditos {
    position: absolute;

    left: 5%;
    right: 5%;

    color: #0A3871;
    font-weight: 700;
    font-size: 1em;
    line-height: 120%;
    font-style: italic;
}